<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">History</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list [inset]="true">
    <ion-item *ngFor="let record of records">
      <ion-label>{{ record.amount }} {{record.baseSymbol}} = {{record.result}} {{record.targetSymbol}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-card-content>
    <ion-button (click)="clearHistory()" expand="block">Clear History</ion-button>
  </ion-card-content>
</ion-footer>